body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

.visually-hidden {
  visibility: hidden;
  height: 1px;
  margin: 0;
}

.page-main__content {
  margin-left: 20px;
  margin-right: 20px;
}
